In [1]:
import pandas as pd

import missingno as mgn

import plotly.express as px
import plotly.graph_objects as go

In [12]:
df = pd.read_csv('../data/data_features.csv', parse_dates=['last_publish_date'])

In [10]:
numerical = df.select_dtypes(exclude=['object', 'datetime64[ns]']).columns.drop('page_id')
categorical = ['classification_product', 'classification_type', 'media_type']

In [ ]:
import pygwalker as pyg

walker = pyg.walk(df, spec="./pygwalk_eda3_spec_2.json")

In [5]:
walker.last_exported_dataframe

    classification_type   age       ctr
0              Ratgeber    22  4.702425
1              Ratgeber  1869  5.792153
2              Ratgeber   124  6.958250
3          Kaufberatung   246  9.477124
4              Ratgeber  1795  5.395818
..                  ...   ...       ...
990                Deal    53  7.829535
991            Ratgeber    52  4.955971
992        Kaufberatung    43  3.668364
993   Erfahrungsbericht    41  6.849315
994                Deal    20  4.778735

[995 rows x 3 columns]

In [15]:
df_ctr_age = pyg.GlobalVarManager.last_exported_dataframe

In [18]:
df_ctr_age.describe()

            n_days          ctr  gw_count_fid_sum
count  1516.000000  1516.000000            1516.0
mean     27.894459     7.300566               1.0
std      43.175894     4.155316               0.0
min       1.000000     0.000000               1.0
25%       8.000000     4.974268               1.0
50%      11.000000     6.652496               1.0
75%      25.000000     8.433065               1.0
max     360.000000    41.919192               1.0

# Correlations

In [6]:
import phik
from phik.report import plot_correlation_matrix

In [7]:
phik_matrix = df[list(categorical)+list(numerical)].phik_matrix(interval_cols=list(numerical))

In [ ]:
plot_correlation_matrix(phik_matrix.values, x_labels=phik_matrix.columns, y_labels=phik_matrix.index, 
                        vmin=0, vmax=1, color_map='BuPu', fontsize_factor=0.75,
                        title=r'$\phi_K$ correlation of the features',
                        figsize=(10,7.5))